<nav class="col-sm-3 col-md-2 hidden-xs-down bg-faded sidebar">
	<ul class="nav nav-pills">
		<li class="nav-item">
			<a <% if (page == 'userhome') { %>
				class="nav-link active"
			<% } else { %>
					class="nav-link"
			<% } %> href="/user/home">个人首页 <span class="sr-only">(current)</span></a>
		</li>
		<li class="nav-item">
			<a <% if (page == 'modifyUserInfo') { %>
				class="nav-link active"
			<% } else { %>
					class="nav-link"
			<% } %> href="/user/modify-user-info">修改个人信息</a>
		</li>
	</ul>
	<ul class="nav nav-pills">
		<li class="nav-item">
			<a <% if (page == 'overviewDepartments') { %>
				class="nav-link active"
			<% } else { %>
					class="nav-link"
			<% } %> href="/user/overview/departments">部门概览</a>
		</li>
		<li class="nav-item">
			<a <% if (page == 'overviewPositions') { %>
				class="nav-link active"
			<% } else { %>
					class="nav-link"
			<% } %> href="/user/overview/positions">职位概览</a>
		</li>

	</ul>

	<ul class="nav nav-pills">
		<li class="nav-item">
			<a <% if (page == 'overviewUsers') { %>
				class="nav-link active"
			<% } else { %>
					class="nav-link"
			<% } %> href="/user/overview/users">人员概览</a>
		</li>
		<li class="nav-item">
			<a <% if (page == 'search') { %>
				class="nav-link active"
			<% } else { %>
					class="nav-link"
			<% } %> href="/user/search">查找用户</a>
		</li>
		<% if(checkPermission < 2) { %>
		<li class="nav-item">
			<a <% if (page == 'adduser') { %>
				class="nav-link active"
			<% } else { %>
					class="nav-link"
			<% } %> href="/user/adduser">添加用户</a>
		</li>
		<% } %>
	</ul>
	<% if(checkPermission == 0) { %>
	<ul class="nav nav-pills">
		<li class="nav-item">
			<a  <% if (page == 'addDepartment') { %>
				class="nav-link active"
			<% } else { %>
					class="nav-link"
			<% } %> href="/user/admin/add-department">增加部门</a>
		</li>
		<li class="nav-item">
			<a <% if (page == 'addPosition') { %>
				class="nav-link active"
			<% } else { %>
					class="nav-link"
			<% } %> href="/user/admin/add-position">增加职位</a>
		</li>
	</ul>
	<% } %>
	<ul class="nav nav-pills">
		<li class="nav-item">
			<a <% if (page == 'recycle') { %>
				class="nav-link active"
			<% } else { %>
					class="nav-link"
			<% } %> href="/user/recycle">回收站</a>
		</li>
	</ul>
</nav>
