<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>社团人员管理系统</title>
    <link href="/dist/style/bootstrap.min.css" rel="stylesheet">
    <link href="/dist/style/dashboard.css" rel="stylesheet">
    <script src="/dist/js/jquery.min.js"></script>
    <script src="/dist/js/tether.min.js"></script>
    <script src="/dist/js/bootstrap.min.js"></script>
  </head>

  <body>
    <!-- 引入header模板文件 -->
      <%include ./components/header %>
      <div class="container-fluid">
        <div class="row">

          <!-- 引入nav模板文件，侧边导航栏 -->
          <%include ./components/nav %>
          <!-- 条件判断渲染不同的文件 -->
             <% if (page == 'adduser') { %>
               <!-- 引入添加用户模板 -->
               <%include ./user/adduser %>
             <% } %>
             <% if (page == 'userhome') { %>
               <!-- 引入主页main模板文件 -->
               <%include ./user/home %>
             <% } %>
              <!-- 引入修改用户信息页面 -->
              <%  if (page == 'modifyUserInfo') { %>
                <%include ./user/modify-user-info %>
              <% } %>
              <!-- 引入全人员预览页面 -->
              <%  if (page == 'overviewUsers') { %>
                <%include ./user/overview-users %>
              <% } %>
              <!-- 引入详细信息页 -->
              <%  if (page == 'detail') { %>
                <%include ./user/detail %>
              <% } %>
              <!-- 引入修改其他人员信息 -->
              <%  if (page == 'edit') { %>
                <%include ./user/edit %>
              <% } %>
              <!-- 引入回收站页面 -->
              <%  if (page == 'recycle') { %>
                <%include ./user/recycle %>
              <% } %>
              <!-- 引入搜索页面 -->
              <%  if (page == 'search') { %>
                <%include ./user/search %>
              <% } %>
              <%  if (page == 'addDepartment') { %>
                <%include ./admin/add-department %>
              <% } %>
              <%  if (page == 'addPosition') { %>
                <%include ./admin/add-position %>
              <% } %>
              <%  if (page == 'overviewDepartments') { %>
                <%include ./user/overview-departments %>
              <% } %>
              <%  if (page == 'overviewPositions') { %>
                <%include ./user/overview-positions %>
              <% } %>
        </div>
      </div>
    </div>

  </body>
</html>
