<main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3">
	<h1>个人首页</h1>

	<section class="row placeholders">
		<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
			<h2><%= userName %></h2>
			<h3><%= userDepartment %> - <%= userPosition %></h3>
		</div>
	</section>


</main>
