<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>登录</title>
</head>
<body>
	<form action="/user/login" method="post">
	学号<input name="user-no" type="number">
	密码<input name="user-pwd" type="text">
	<input type="submit" name="" id="" value="login">
	</form>
</body>
</html>
